* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

@font-face {
  font-family: "pixelated";
  src: url("./fonts/StayPixelRegular-EaOxl.ttf") format("truetype");
}

body {
  font-family: sans-serif;
  background-color: rgb(148, 12, 176);
}

.game-head {
  font-family: "pixelated", sans-serif;
  color: rgb(64, 32, 74);
}

img {
  border-radius: 10px;
  border: 5px solid rgb(64, 32, 74);
  width: 12rem;
  height: 12rem;
  background-color: blue;
}

game-card {
  position: relative;
}

.col .cardFront {
  transform: rotateY(90deg);
  transition: all ease-in 0.2s;
  position: absolute;
}
.flipped .cardFront {
  transform: rotate(0deg);
  transition-delay: 0.2s;
}

.col .cardBack {
  transition: all ease-in 0.2s;
  transition-delay: 0.2s;
}
.flipped .cardBack {
  transform: rotateY(90deg);
  transition-delay: 0s;
}
